body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #337af5);
}

.container {
    background: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn{
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    background: #1455d6;
}

.form-footer{
    margin-top: 10px;
    text-align: center;
}

.form-footer a {
    color: #2575fc;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

